.Main {
  min-height: 100%;
  background-image: url("../../images/first-main.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  font-family: "appleGothicL";
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid rgb(0, 0, 0);
  padding: 8px 24px;
  position: absolute;
  left: 23px;
  top: 18px;
}
.main__contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0.8);
}
.main__info {
  margin-top: 25px;
  font-family: jalnan;
  font-size: 40px;
  color: white;
  text-shadow: 5px 5px rgb(0, 0, 0, 0.44);
}
.main__clothes {
  margin-top: 50px;
}
.main__map {
  margin-bottom: 70px;
}
