.Main {
  min-width: 900px;
  width: 100vw;
  height: 100vh;
  background-image: url("../../images/first-main.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__info {
  margin-top: 10px;
  color: rgb(72, 92, 109);
}
