.mypage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #619fd0;
  height: 100vh;
  min-height: 700px;
  position: relative;
}
.mypage__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 560px;
}
.mypage__title {
  font-family: jalnan;
  font-size: 40px;
  color: white;
  font-weight: normal;
}
.mypage__box {
  background-color: white;
  width: 500px;
  height: 400px;
  border-radius: 36px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.mypage__editbtn {
  position: absolute;
  top: 20px;
  right: 30px;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: #808080;
  font-size: 15px;
  outline: none;
  cursor: pointer;
}
.mypage__editbtn::before {
  content: "edit";
}
.mypage__mobile-profile {
  display: none;
}
.mypage__form {
  width: 80%;
  height: 83%;
  display: flex;
  flex-direction: column;
}
.mypage__row {
  display: flex;
  align-items: center;
  padding: 6px;
  margin: 15px;
  border-bottom: 2px solid #c0c0c0;
  position: relative;
}
.mypage__label {
  font-family: neoL;
  font-size: 15px;
  width: 30%;
}

.mypage__input {
  font-family: neoL;
  border: none;
  font-size: 15px;
  outline: none;
  width: 70%;
}
.mypage__checkbox {
  appearance: none;
  border: 1px solid #000000;
  border-radius: 3px;
  position: absolute;
  left: -30px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
}
.mypage__checkbox:checked::before {
  content: "✓";
  font-size: 30px;
}
.mypage__submitbtn {
  position: absolute;
  bottom: 0px;
  background-color: #fff;
  width: 80px;
  height: 50px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
}

.mypage__submitbtn::before {
  content: "submit";
}

.mypage__submitbtn:disabled {
  cursor: unset;
}
.mypage__submitbtn:disabled:hover {
  color: rgba(16, 16, 16, 0.3);
}

.mypage__withdrawal {
  font-size: 15px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #f3f3f3;
  border: none;
  width: 123px;
  height: 53px;
  cursor: pointer;
  outline: none;
}
.mypage__withdrawal::before {
  content: "탈퇴";
}
@media screen and (max-width: 768px) {
  .mypage {
    background-color: #fff;
    min-height: auto;
  }
  .mypage__container {
    background-color: #fff;
    height: 100%;
    width: 100%;
  }
  .mypage__title {
    font-family: neoB;
    font-size: 30px;
    color: #8b8b8b;
    margin: 20px 0;
  }
  .mypage__box {
    width: inherit;
    position: static;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .mypage__editbtn {
    top: auto;
    right: auto;
    bottom: 0;
    width: 100%;
    height: 70px;
    font-family: neoB;
    font-size: 30px;
    background-color: #619fd0;
    color: #fff;
    text-decoration: none;
  }
  .mypage__editbtn::before {
    content: "내 정보 수정하기";
  }
  .mypage__mobile-profile {
    width: 80%;
    display: flex;
    align-items: center;
    margin: 20px;
  }
  .mypage__pic {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background-color: #f2c94c;
    margin-right: 20px;
  }
  .mypage__nick {
    font-family: neoB;
    margin: 0;
    font-size: 30px;
    color: #343434;
    margin: 5px;
  }
  .mypage__email {
    margin: 0;
    font-family: neoB;
    font-size: 15px;
    color: #b0b0b0;
    margin: 5px;
  }
  .mypage__form {
    border-top: 1px solid #c0c0c0;
    padding-top: 5px;
  }
  .mypage__form--mobile {
    display: none;
  }
  .mypage__row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #5b5b5b;
    padding: 2px;
    margin: 15px;
  }
  .mypage__row--disabled {
    border-bottom: 1px solid #b8b8b8;
  }

  .mypage__label {
    font-family: neoL;
    padding-bottom: 5px;
    font-size: 17px;
    width: 100%;
    color: #696969;
  }
  .mypage__label--disabled {
    color: #b8b8b8;
  }
  .mypage__input {
    font-family: neoL;
    border: none;
    font-size: 17px;
    outline: none;
    width: 100%;
    color: #575757;
  }
  .mypage__input--disabled {
    color: #b8b8b8;
  }
  .mypage__checkbox {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .mypage__submitbtn {
    width: 100%;
    height: 70px;
    border-radius: 0;
    font-family: neoB;
    font-size: 30px;
    background-color: #619fd0;
    color: #fff;
  }
  .mypage__submitbtn::before {
    content: "수정";
  }

  .mypage__submitbtn:disabled {
    background-color: #c4c4c4;
  }
  .mypage__submitbtn:disabled:hover {
    color: #ffff;
  }
  .mypage__withdrawal {
    font-family: neoL;
    font-size: 17px;
    bottom: 80px;
    right: 10px;
    background-color: transparent;
    width: auto;
    height: auto;
    text-decoration: underline;
    color: #929292;
  }
  .mypage__withdrawal::before {
    content: "회원탈퇴하기";
  }
}
@media screen and (max-width: 375px) {
  .mypage__title {
    font-size: 20px;
  }
  .mypage__pic {
    width: 70px;
    height: 70px;
  }
  .mypage__nick {
    font-size: 25px;
  }
  .mypage__email {
    font-size: 10px;
  }
  .mypage__editbtn {
    height: 50px;
    font-size: 17px;
  }
  .mypage__label {
    font-size: 13px;
  }
  .mypage__input {
    font-size: 13px;
  }
  .mypage__submitbtn {
    height: 50px;
    font-size: 17px;
  }
  .mypage__withdrawal {
    font-size: 15px;
    bottom: 60px;
    right: 10px;
  }
}

.mypage__row--fill {
  border-bottom-color: #619fd0;
}
.mypage__label--fill {
  color: #619fd0;
}
.mypage__editbtn:hover {
  color: #f2c94c;
}
.mypage__submitbtn:hover {
  color: #f2c94c;
}
.mypage__withdrawal:hover {
  color: #f2c94c;
}
