@font-face {
  font-family: "neoL";
  src: url("../../fonts/AppleSDGothicNeoL.ttf");
}

.onebtnModal__background {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.onebtnModal__contain {
  width: 370px;
  height: 180px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.onbtnModal__message {
  font-family: neoL;
  font-size: 20px;
}

.onebtnModal__btn-contain {
  margin-top: 20px;
}

.onebtnModal__btn {
  font-family: neoL;
  width: 63px;
  height: 42px;
  background-color: #619fd0;
  color: white;
  border: 0;
  border-radius: 10px;
  font-size: 14px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}
