#searchVillage-background {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchVillage__contain {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchVillage__input-contain {
  display: flex;
}

#searchVillage__input {
  font-family: neoL;
  background-color: #dfdfdf;
  border: none;
}

#searchVillage__input::-webkit-input-placeholder {
  color: #575757;
}

#searchVillage__btn-search {
  border: none;
  background-color: #619fd0;
  font-family: neoL;
  color: white;
}

@media all and (min-width: 768px) {
  #searchVillage__contain {
    width: 596px;
    height: 529px;
    border-radius: 10px;
  }

  .searchVillage__input-contain {
    /* margin-bottom: /px; */
  }

  #searchVillage__input {
    width: 350px;
    height: 50px;
    padding-left: 14px;
    font-size: 18px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  #searchVillage__btn-search {
    font-size: 15px;
    width: 60px;
    height: 52px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  #searchVillage__btn-search:hover,
  .searchVillage__btn:hover {
    background-color: #48769b;
  }

  #searchVillage__info-ment--head {
    font-family: neoL;
    font-size: 13px;
    margin-bottom: 25px;
    color: #c0c0c0;
  }

  #searchVillage__info-ment--foot {
    font-family: neoL;
    font-size: 13px;
    margin-top: 30px;
    color: #c0c0c0;
  }

  #searchVillage__info-ment--head:hover,
  #searchVillage__info-ment--foot:hover {
    color: black;
  }

  #searchVillage__map {
    width: 365px;
    height: 248px;
    border-radius: 10px;
    border: 4px solid #619fd0;
  }

  .searchVillage__btn {
    width: 100px;
    height: 40px;
    border: none;
    color: white;
    font-size: 13px;
    background-color: #619fd0;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media all and (max-width: 767px) {
  #searchVillage__contain {
    width: 350px;
    height: 500px;
    border-radius: 7px;
  }

  #searchVillage__input {
    width: 260px;
    height: 30px;
    font-size: 13px;
    padding-left: 8px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }

  #searchVillage__btn-search {
    font-size: 13px;
    width: 40px;
    height: 32px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  #searchVillage__btn-search:hover,
  .searchVillage__btn:hover {
    background-color: #48769b;
  }

  #searchVillage__info-ment--head {
    font-family: neoL;
    font-size: 13px;
    margin-bottom: 20px;
    color: #c0c0c0;
  }

  #searchVillage__info-ment--foot {
    font-family: neoL;
    font-size: 13px;
    margin-top: 20px;
    color: #c0c0c0;
  }

  #searchVillage__info-ment--head:hover,
  #searchVillage__info-ment--foot:hover {
    color: black;
  }

  #searchVillage__map {
    width: 240px;
    height: 200px;
    border-radius: 10px;
    border: 5px solid #619fd0;
  }

  .searchVillage__btn {
    width: 100px;
    height: 40px;
    border: none;
    color: white;
    font-size: 13px;
    background-color: #619fd0;
    border-radius: 7px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
  }
}
