.app__header {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

#app__logo {
  color: #575757;
  height: 30px;
  font-family: neoM;
  font-weight: bold;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-top: 10px;
  border: solid #575757;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  #app__logo {
    height: 20px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-top: 5px;
    border: solid #575757;
  }
}

@media all and (max-width: 767px) {
  #app__logo {
    height: 10px;
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-top: 20px;
    border: solid #575757;
  }
}
