@font-face {
  font-family: jalnan;
  src: url("./fonts/Jalnan.ttf");
}

@font-face {
  font-family: neoL;
  src: url("./fonts/AppleSDGothicNeoL.ttf");
}

@font-face {
  font-family: neoB;
  src: url("./fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: neoM;
  src: url("./fonts/AppleSDGothicNeoM.ttf");
}
@font-face {
  font-family: neoEB;
  src: url("./fonts/AppleSDGothicNeoEB.ttf");
}
@font-face {
  font-family: neoUL;
  src: url("./fonts/AppleSDGothicNeoUL.ttf");
}
body {
  margin: 0;
}
