.menu {
  display: flex;
  align-items: center;
  height: 100px;
}
.menu__btn {
  border: none;
  background-image: url("../../images/icon/webMenu.png");
  background-repeat: no-repeat;
  background-position: 0px -7px;
  background-color: transparent;
  background-size: cover;
  width: 100px;
  height: 100px;
  font-size: 20px;
  color: gray;
  outline: none;
  transition: all 0.5s;
  /* opacity: 0.8; */
  cursor: pointer;
  -webkit-filter: drop-shadow(2px 10px 4px rgba(0, 0, 0, 0.25));
  -moz-filter: drop-shadow(2px 10px 4px rgba(0, 0, 0, 0.25));
  -ms-filter: drop-shadow(2px 10px 4px rgba(0, 0, 0, 0.25));
  -o-filter: drop-shadow(2px 10px 4px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(2px 10px 4px rgba(0, 0, 0, 0.25));
}
.menu__btn::before {
  content: "MENU";
}
.menu__btn:hover {
  color: #000;
}
.menu__nav {
  overflow: hidden;
}
.menu__items {
  padding: 0;
  list-style: none;
  display: flex;
  margin: 5px;
  transform: translateX(110%);
  transition: all 1s;
  opacity: 0;
}
.menu__items--open {
  transform: translateX(0);
  opacity: 1;
}
.menu__items li {
  padding: 5px;
  color: #dedede;
  font-size: 25px;
  text-shadow: 1px 3px 5px black;
}

.menu__items a:-webkit-any-link {
  font-family: neoSB;
  color: #fff;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

.menu__items a:hover {
  color: #000;
}

@media screen and (max-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
    height: 80px;
  }
  .menu__btn {
    background-image: url("../../images/icon/hambuger-menu.png");
    /* background: linear-gradient(#000 50%, transparent 50%);
    background-size: 100% 10px;
    width: 40px;
    height: 35px; */
    width: 40px;
    height: 40px;
    margin-right: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: drop-shadow(0px 0px 0px);
    -moz-filter: drop-shadow(0px 0px 0px);
    -ms-filter: drop-shadow(0px 0px 0px);
    -o-filter: drop-shadow(0px 0px 0px);
    filter: drop-shadow(0px 0px 0px);
  }
  .menu__btn::before {
    content: "";
  }
  .menu__nav {
    position: absolute;
    padding: 20px;
    padding-top: 160px;
    right: 0;
    transition: all 1s;
  }
  .menu__nav--open {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 15px;
  }

  .menu__items {
    flex-direction: column;
    align-items: flex-end;
    transform: translateX(150%);
    margin-top: 40px;
  }
  .menu__items--open {
    transform: translateY(0);
  }
  .menu__items li {
    color: #fff;
    text-shadow: none;
  }

  .menu__items a:-webkit-any-link {
    font-size: 17px;
  }
}
@media screen and (max-width: 375px) {
  .menu__btn {
    width: 30px;
    height: 35px;
  }
  .menu__nav {
    padding: 12px;
    padding-top: 160px;
  }
  .menu__items li {
    font-size: 15px;
  }
}
