.menu {
  display: flex;
  align-items: center;
}
.manu__btn {
  border: none;
  background-image: url("../../images/icon/cloud2_illustration_style2.png");
  background-repeat: no-repeat;
  background-position: -190px -70px;
  background-color: transparent;
  background-size: 350px;
  width: 130px;
  height: 90px;
  font-size: 25px;
  color: #fff;
  outline: none;
  transition: all 0.5s;
  opacity: 0.8;
  cursor: pointer;
}
.manu__btn::before {
  content: "MENU";
}
.manu__btn:hover {
  color: #000;
}
.menu__nav {
  overflow: hidden;
}
.menu__items {
  padding: 0;
  list-style: none;
  display: flex;
  margin: 5px;
  transform: translateX(110%);
  transition: all 1s;
  opacity: 0;
}
.menu__items--open {
  transform: translateX(0);
  opacity: 1;
}
.menu__items li {
  padding: 5px;
  color: #fff;
  font-size: 25px;
  text-shadow: 1px 3px 7px black;
}
.menu__logout {
  font-size: inherit;
  border: none;
  background-color: inherit;
  text-shadow: inherit;
  cursor: pointer;
  text-decoration: inherit;
  padding: 0;
}
.menu__items a,
.menu__logout {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
  }
  .manu__btn {
    background: linear-gradient(#000 50%, transparent 50%);
    background-size: 100% 10px;
    width: 40px;
    height: 35px;
  }
  .manu__btn::before {
    content: "";
  }
  .menu__nav {
    position: absolute;
    padding: 20px;
    padding-top: 160px;
    right: 0;
    transition: all 1s;
  }
  .menu__nav--open {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .menu__items {
    flex-direction: column;
    align-items: flex-end;
    transform: translateX(150%);
    margin: 0;
  }
  .menu__items--open {
    transform: translateY(0);
  }
  .menu__items li,
  .menu__logout {
    color: #fff;
    font-size: 17px;
    text-shadow: none;
    text-decoration: underline;
  }
}
@media screen and (max-width: 375px) {
  .manu__btn {
    width: 30px;
    height: 25px;
  }
  .menu__nav {
    padding: 12px;
    padding-top: 140px;
  }
  .menu__items li {
    font-size: 15px;
  }
}
.menu__items a:hover,
.menu__logout:hover {
  color: #000;
}
