.withdrawal {
  height: 100vh;
  min-height: 700px;
  background-color: #619fd0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.withdrawal__title {
  display: none;
}
.withdrawal__btn {
  position: fixed;
  top: 80%;
  cursor: pointer;
  transition: all 1s;
  visibility: hidden;
  opacity: 0;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 20px;
  border-radius: 13px;
  background-color: #fff;
}
.withdrawal__btn::before {
  content: "회원 탈퇴하기";
}
.withdrawal__btn:hover {
  color: #000;
}
.withdrawal__btn--show {
  visibility: visible;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .withdrawal {
    justify-content: space-between;
    background-color: #fff;
    background-color: #fff;
    min-height: auto;
  }
  .withdrawal__title {
    display: block;
    font-family: neoB;
    font-size: 30px;
    color: #8b8b8b;
    margin: 20px 0;
  }
  .withdrawal .modal {
    background-color: transparent;
  }
  .withdrawal__btn {
    position: static;
    visibility: visible;
    padding: 0;
    opacity: 1;
    width: 100%;
    height: 70px;
    font-family: neoB;
    font-size: 30px;
    border-radius: 0;
    background-color: #c4c4c4;
    color: #fff;
  }
  .withdrawal__btn::before {
    content: "탈퇴";
  }
  .withdrawal__btn--show {
    background-color: #619fd0;
    z-index: 1;
  }
}
@media screen and (max-width: 375px) {
  .withdrawal__title {
    font-size: 20px;
  }
  .withdrawal__btn {
    height: 50px;
    font-size: 17px;
  }
}
