#main {
  height: 100vh;
  min-height: 80vh;
  background-image: url("../../images/background/first-main.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main__contain {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#searchVillage__btn {
  font-family: neoSB;
  border: none;
  background-color: #619fd0;
  color: white;
}

@media all and (min-width: 768px) {
  #searchVillage__btn {
    width: 134px;
    height: 60px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 50px;
    cursor: pointer;
  }

  #searchVillage__btn:hover {
    background-color: #48769b;
  }
}

@media all and (max-width: 767px) {
  #searchVillage__btn {
    width: 100px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 50px;
    cursor: pointer;
  }

  #searchVillage__btn:hover {
    background-color: #48769b;
  }
}
