@font-face {
  font-family: "appleGothicM";
  src: url("../fonts/AppleSDGothicNeoM.ttf");
}

@font-face {
  font-family: "appleGothicUL";
  src: url("../fonts/AppleSDGothicNeoUL.ttf");
}

@font-face {
  font-family: "appleGothicL";
  src: url("../fonts/AppleSDGothicNeoL.ttf");
}

.EditMypage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.EditMypage__contain--basic {
  width: 750px;
  height: 400px;
  background-color: white;
  border-radius: 15px;
}

.EditMypage__contain--check {
  width: 750px;
  height: 500px;
  background-color: white;
  border-radius: 15px;
}

h1 {
  font-family: "appleGothicM";
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-bottom: 70px;
}

.EditMypage__userinfo-contain {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.EditMypage__ul {
  height: 70px;
}
.EditMypage__userinfo--item {
  margin-bottom: 30px;
}

.EditMypage__item-title {
  font-family: "appleGothicL";
  text-align: left;
  width: 170px;
  display: inline-block;
  font-size: 18px;
  margin-left: 110px;
}

.nick-name {
  margin-left: 78px;
}

.password {
  margin-left: 78px;
}

.EditMypage_item-info {
  font-family: "appleGothicL";
  text-align: left;
  width: 400px;
  display: inline-block;
  font-size: 18px;
}

.EditMypage__checkbox {
  width: 20px;
  height: 20px;
  position: relative;
  left: 5%;
}

.EditMypage__userinfo__underline {
  width: 570px;
  height: 2px;
  background-color: #c0c0c0;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.EditMypage__Withdrawal-btn {
  font-size: 20px;
  background-color: white;
  border: 0;
  border-radius: 4px;
  width: 123px;
  height: 53px;
  /* align-self: flex-end; */
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.EditMypage__submit-btn {
  font-family: "appleGothicL";
  width: 108px;
  height: 58px;
  font-size: 23px;
  background-color: white;
  border: none;
  border-radius: 7px;
  margin-top: 30px;
}

.EditMypage__input {
  width: 350px;
  height: 35px;
  border: 0px;
  border-radius: 3px;
  background-color: #e1e1e1;
}
