.EditModal__background {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.EditModal__contain {
  width: 520px;
  height: 254px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 23px;
}

.EditModal__input-password {
  width: 350px;
  height: 45px;
  background-color: #e1e1e1;
  border: 0;
  padding-left: 20px;
  border-radius: 10px;
}

.EditModal__btn-contain {
  margin-top: 40px;
}

.EditModal__btn {
  width: 63px;
  height: 42px;
  background-color: #ffda8e;
  border: 0;
  border-radius: 10px;
  font-size: 17px;
  margin-left: 15px;
  margin-right: 15px;
}
