@font-face {
  font-family: "jalnan";
  src: url("../fonts/Jalnan.ttf");
}
@font-face {
  font-family: "neoM";
  src: url("../fonts/AppleSDGothicNeoM.ttf");
}
@font-face {
  font-family: "noeSB";
  src: url("../fonts/AppleSDGothicNeoSB.ttf");
}
@font-face {
  font-family: "neoEB";
  src: url("../fonts/AppleSDGothicNeoEB.ttf");
}
.WeatherBoxBasic__contain--basic {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.WeatherBoxBasic__current {
  font-family: "noeSB";
  font-size: 25px;
  color: white;
  text-shadow: 5px 5px rgb(0, 0, 0, 0.44);
  margin-bottom: 20px;
}

.WeatherBoxBasic__item-box--basic {
  width: 680px;
  height: 195px;
  background-color: rgb(106, 106, 106, 0.34);
  border-radius: 20px;
  white-space: nowrap;
  overflow-x: scroll;
  padding-left: 60px;
  padding-right: 60px;
}

/* .WeatherBoxBasic__item-box--basic::-webkit-scrollbar {
  display: none;
} */

.WeatherBoxBasic__contain--extend {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.WeatherBoxBasic__item-box--extend {
  width: 680px;
  height: 220px;
  background-color: rgb(106, 106, 106, 0.34);
  border-radius: 20px;
  white-space: nowrap;
  overflow-x: scroll;
  padding-left: 60px;
  padding-right: 60px;
}

.WeatherItem__icon {
  filter: drop-shadow(5px 5px 5px #383838);
}

.WeatherBoxBasic__item-box--basic::-webkit-scrollbar {
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 10px;
  height: 10px;
}

.WeatherBoxBasic__item-box--basic::-webkit-scrollbar-thumb {
  background-color: #619fd0;
  border-radius: 10px;
}

.WeatherBoxBasic__item-box--extend::-webkit-scrollbar {
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 10px;
  height: 10px;
}

.WeatherBoxBasic__item-box--extend::-webkit-scrollbar-thumb {
  background-color: #619fd0;
  border-radius: 10px;
}
