@font-face {
  font-family: "appleGothicUL";
  src: url("../fonts/AppleSDGothicNeoUL.ttf");
}

.WeatherItem__contain {
  width: 120px;
  margin-top: 10px;
  display: inline-block;
  margin-right: 50px;
  cursor: pointer;
}

.WeatherItem__contain:hover {
  background-color: rgb(255, 255, 255, 0.4);
  border-radius: 10px;
}

.WeatherItem__flex-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.WeatherItem__date {
  font-family: "appleGothicUL";
  font-size: 18px;
  color: white;
}

.WeatherItem__temp {
  font-family: "appleGothicUL";
  font-size: 25px;
  color: white;
}

.WeatherItem__feelsLike {
  font-family: "appleGothicUL";
  margin-top: 4px;
  color: white;
}
