@font-face {
  font-family: "appleGothicUL";
  src: url("../fonts/AppleSDGothicNeoUL.ttf");
}

@font-face {
  font-family: "appleGothicL";
  src: url("../fonts/AppleSDGothicNeoL.ttf");
}

.WithdrawalMember {
  background-color: #619fd0;
  width: 100vw;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.WithdrawalMember__main-contain {
  width: 700px;
  height: 344px;
  background-color: #f1f1f1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  font-family: "appleGothicUL";
  font-size: 30px;
}

.WithdrawalMember__input-password {
  width: 450px;
  height: 45px;
  background-color: white;
  border: 0;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.WithdrawalMember__submit-btn--origin {
  font-family: "appleGothicL";
  width: 108px;
  height: 58px;
  background-color: #ffda8e;
  border: 0;
  border-radius: 5px;
  font-size: 23px;
  margin-top: 40px;
}

.WithdrawalMember__submit-btn--black {
  font-family: "appleGothicL";
  width: 108px;
  height: 58px;
  background-color: #c4c4c4;
  border: 0;
  border-radius: 5px;
  font-size: 23px;
  margin-top: 40px;
}

.WithdrawalMember__out-btn {
  font-family: "appleGothicL";
  position: absolute;
  bottom: 10%;
  width: 250px;
  height: 74px;
  font-size: 23px;
  border: 0;
  border-radius: 5px;
  background-color: #c4c4c4;
}
