.sign-in {
  box-sizing: border-box;
  min-height: 100%;
  min-width: 700px;
  padding-top: 7vh;
  background-color: #619fd0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sign-in__logo {
  color: #ffffff;
  padding: 18px 24px;
  border: 10px solid #ffffff;
}

.sign-in__form {
  padding-right: 61px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 587px;
}
.sign-in__form label {
  display: inline-block;
  width: 56px;
  cursor: pointer;
}
.sign-in__input,
.sign-in__btn {
  box-sizing: border-box;
  background-color: #fffff5;
  border: none;
  margin: 20px;
  width: 491px;
  padding: 20px;
  font-weight: 900;
}
.sign-in__input {
  border-radius: 5px;
}
.sign-in__btn {
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
