@font-face {
  font-family: "appleGothicL";
  src: url("../../fonts/AppleSDGothicNeoL.ttf");
}

.sign-in {
  box-sizing: border-box;
  min-height: 100%;
  background-color: #619fd0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sign-in__logo {
  font-family: "appleGothicL";
  font-size: 35px;
  font-weight: normal;
  color: #ffffff;
  padding: 18px 24px;
  border: 10px solid #ffffff;
}

.sign-in__form {
  padding-right: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 587px;
}
.sign-in__form label {
  display: inline-block;
  width: 56px;
  cursor: pointer;
  color: white;
}
.sign-in__input,
.sign-in__btn {
  font-family: "appleGothicL";
  box-sizing: border-box;
  background-color: #fffff5;
  font-size: 20px;
  border: none;
  margin: 20px;
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #646464;
}
.sign-in__input {
  border-radius: 5px;
}
.sign-in__btn {
  cursor: pointer;
  border-radius: 8px;
}

.sign-in__btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sign-in__sign-up-btn {
  margin-top: 30px;
  font-family: "appleGothicL";
  color: white;
  text-decoration: underline;
}

.sign-in__sign-up-btn:hover,
a:hover {
  color: black;
}

a {
  text-decoration: none;
}
