.clothesItem__cloud {
  position: relative;
  z-index: 1;
}

.clothesItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clothesItem__cloth {
  width: 44px;
  height: 44px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.clothesItem__seven-piece-pants {
  background-image: url("../../../images/icon/clothes-icons/7부바지.png");
}

.clothesItem__long-pants {
  background-image: url("../../../images/icon/clothes-icons/긴바지.png");
}
.clothesItem__neat {
  background-image: url("../../../images/icon/clothes-icons/니트.png");
}

.clothesItem__thick-coat {
  background-image: url("../../../images/icon/clothes-icons/두꺼운코트.png");
}

.clothesItem__linen {
  background-image: url("../../../images/icon/clothes-icons/린넨옷.png");
}

.clothesItem__muffler {
  background-image: url("../../../images/icon/clothes-icons/목도리.png");
}

.clothesItem__sleeveless {
  background-image: url("../../../images/icon/clothes-icons/민소매.png");
}

.clothesItem__wind-breaker {
  background-image: url("../../../images/icon/clothes-icons/바람막이.png");
}

.clothesItem__shorts {
  background-image: url("../../../images/icon/clothes-icons/반바지.png");
}

.clothesItem__short-sleeve {
  background-image: url("../../../images/icon/clothes-icons/반팔.png");
}

.clothesItem__within-a-fever {
  background-image: url("../../../images/icon/clothes-icons/발열내의.png");
}

.clothesItem__blouse {
  background-image: url("../../../images/icon/clothes-icons/블라우스.png");
}

.clothesItem__shirts {
  background-image: url("../../../images/icon/clothes-icons/셔츠.png");
}

.clothesItem__thin-jacket {
  background-image: url("../../../images/icon/clothes-icons/얇은재킷.png");
}

.clothesItem__one-piece {
  background-image: url("../../../images/icon/clothes-icons/원피스.png");
}

.clothesItem__glove {
  background-image: url("../../../images/icon/clothes-icons/장갑.png");
}

.clothesItem__jacket {
  background-image: url("../../../images/icon/clothes-icons/재킷.png");
}

.clothesItem__short-skirt {
  background-image: url("../../../images/icon/clothes-icons/짧은치마.png");
}

.clothesItem__jean {
  background-image: url("../../../images/icon/clothes-icons/청바지.png");
}

.clothesItem__denim-jacket {
  background-image: url("../../../images/icon/clothes-icons/청자켓.png");
}

.clothesItem__cashmere-coat {
  background-image: url("../../../images/icon/clothes-icons/캐시미어코트.png");
}

.clothesItem__trench-coat {
  background-image: url("../../../images/icon/clothes-icons/트렌치코트.png");
}

.clothesItem__padding {
  background-image: url("../../../images/icon/clothes-icons/패딩.png");
}

.clothesItem__ait-jacket {
  background-image: url("../../../images/icon/clothes-icons/항공점퍼.png");
}

.clothesItem__hood {
  background-image: url("../../../images/icon/clothes-icons/후드.png");
}

@media all and (min-width: 768px) {
  .clothesItem {
    margin-top: 30px;
    margin-bottom: 40px;
    flex-wrap: wrap;
  }

  .clothesItem-length--2 {
    width: 416px;
    height: 133px;
  }

  .clothesItem-length--3 {
    width: 624px;
    height: 133px;
  }

  .clothesItem-length--4 {
    width: 520px;
  }

  .clothesItem-length--5 {
    width: 624px;
    height: 266px;
  }

  .clothesItem__item--length-2,
  .clothesItem__item--length-3,
  .clothesItem__item--length-4,
  .clothesItem__item--length-5 {
    margin-left: 40px;
    margin-right: 40px;
    position: relative;
  }

  .clothesItem__cloud {
    width: 128px;
    height: 128px;
  }

  .clothesItem__cloth-length--2,
  .clothesItem__cloth-length--3,
  .clothesItem__item--length-4 > .clothesItem__cloth-0,
  .clothesItem__item--length-4 > .clothesItem__cloth-1,
  .clothesItem__item--length-4 > .clothesItem__cloth-2,
  .clothesItem__item--length-4 > .clothesItem__cloth-3,
  .clothesItem__item--length-5 > .clothesItem__cloth-0,
  .clothesItem__item--length-5 > .clothesItem__cloth-1,
  .clothesItem__item--length-5 > .clothesItem__cloth-2,
  .clothesItem__item--length-5 > .clothesItem__cloth-3,
  .clothesItem__item--length-5 > .clothesItem__cloth-4 {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 37%;
    margin-left: 40px;
  }
}

@media all and (max-width: 768px) {
  .clothesItem {
    margin-top: 30px;
    margin-bottom: 40px;
    flex-wrap: wrap;
  }

  .clothesItem-length--2 {
    width: 384px;
    height: 85px;
  }

  .clothesItem-length--3 {
    width: 384px;
    height: 85px;
  }

  .clothesItem-length--4 {
    width: 257px;
  }

  .clothesItem-length--5 {
    width: 384px;
    height: 170px;
  }

  .clothesItem__item--length-2,
  .clothesItem__item--length-3,
  .clothesItem__item--length-4,
  .clothesItem__item--length-5 {
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
  }

  .clothesItem__cloud {
    width: 78px;
    height: 80px;
  }

  .clothesItem__cloth-length--2,
  .clothesItem__cloth-length--3,
  .clothesItem__item--length-4 > .clothesItem__cloth-0,
  .clothesItem__item--length-4 > .clothesItem__cloth-1,
  .clothesItem__item--length-4 > .clothesItem__cloth-2,
  .clothesItem__item--length-4 > .clothesItem__cloth-3,
  .clothesItem__item--length-5 > .clothesItem__cloth-0,
  .clothesItem__item--length-5 > .clothesItem__cloth-1,
  .clothesItem__item--length-5 > .clothesItem__cloth-2,
  .clothesItem__item--length-5 > .clothesItem__cloth-3,
  .clothesItem__item--length-5 > .clothesItem__cloth-4 {
    width: 32px;
    height: 29px;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 33%;
    margin-left: 20px;
  }
}
