#clothesBox {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#clothestBox__header {
  margin-top: 25px;
  font-family: jalnan;
  font-size: 40px;
  color: white;
  text-shadow: 5px 5px rgb(0, 0, 0, 0.44);
}

@media all and (min-width: 768px) {
}

@media all and (max-width: 768px) {
  #clothestBox__header {
    font-size: 27px;
  }
}
