@font-face {
  font-family: jalnan;
  src: url("../../fonts/Jalnan.ttf");
}

@font-face {
  font-family: neoL;
  src: url("../../fonts/AppleSDGothicNeoL.ttf");
}

@font-face {
  font-family: neoB;
  src: url("../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: neoM;
  src: url("../../fonts/AppleSDGothicNeoM.ttf");
}

#signUpPage {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.onbtnModal__info {
  font-family: neoL;
  font-size: 15px;
  color: #6b6b6b;
  margin-top: 0;
  margin-bottom: 5px;
}

@media all and (min-width: 1024px) {
  #signUpPage {
    background-color: #619fd0;
  }

  #signUp__ment {
    font-family: jalnan;
    font-size: 40px;
    color: white;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 40px;
  }

  #signUp__userInfo {
    width: 491px;
    height: 356px;
    background-color: white;
    border-radius: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .userInfo__contain {
    width: 405px;
    height: 54px;
  }

  .userInfo__title-basic {
    font-family: neoL;
    font-size: 15px;
    color: #6b6b6b;
    display: inline-block;
    width: 117px;
    text-align: center;
  }

  .userInfo__title-extend {
    font-family: neoL;
    font-size: 15px;
    color: #619fd0;
    display: inline-block;
    width: 117px;
    text-align: center;
  }

  .userInfo__input-basic {
    width: 209px;
    height: 39px;
    background-color: white;
    font-family: neoL;
    font-size: 15px;
    border: none;
    border-bottom: thin solid #e2e2e2;
    padding-left: 8px;
    margin-left: 50px;
  }

  .userInfo__input-extend {
    width: 209px;
    height: 39px;
    background-color: white;
    font-family: neoL;
    font-size: 15px;
    border: none;
    border-bottom: thin solid #619fd0;
    padding-left: 8px;
    margin-left: 50px;
  }

  input::-webkit-input-placeholder {
    color: #c0c0c0;
  }
  input:-moz-placeholder {
    color: black;
  }

  #signUp__joinBtn-basic {
    width: 491px;
    height: 59px;
    font-family: neoM;
    font-size: 20px;
    color: gray;
    border-radius: 15px;
    background-color: white;
    border: none;
    margin-top: 73px;
  }

  #signUp__joinBtn-extend {
    width: 491px;
    height: 59px;
    font-family: neoM;
    font-size: 20px;
    color: gray;
    border-radius: 15px;
    background-color: white;
    border: none;
    margin-top: 73px;
  }

  #signUp__joinBtn-basic:hover {
    color: black;
  }

  #signUp__joinBtn-extend:hover {
    color: black;
  }

  #userInfo__errorView {
    display: none;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  #signUp__ment {
    font-family: neoB;
    font-size: 30px;
    color: #8b8b8b;
    margin: 0px;
    position: absolute;
    top: 2%;
    font-weight: normal;
  }

  #signUp__userInfo {
    width: 613px;
    height: 771px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3%;
  }

  .userInfo__contain {
    width: 538px;
    height: 105px;
  }

  .userInfo__title-basic {
    font-family: neoL;
    font-size: 17px;
    color: #5b5b5b;
    margin: 0;
  }

  .userInfo__title-extend {
    font-family: neoL;
    font-size: 17px;
    color: #619fd0;
    margin: 0;
  }

  .userInfo__input-basic {
    width: 514px;
    height: 63px;
    font-family: neoL;
    font-size: 20px;
    border: none;
    border-bottom: thin solid #575757;
  }

  .userInfo__input-extend {
    width: 514px;
    height: 63px;
    font-family: neoL;
    font-size: 20px;
    border: none;
    border-bottom: thin solid #619fd0;
  }

  input::-webkit-input-placeholder {
    color: #c0c0c0;
  }

  #signUp__joinBtn-basic {
    width: 100vw;
    height: 80px;
    position: absolute;
    bottom: 0px;
    font-family: neoB;
    font-size: 30px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #c4c4c4;
  }

  #signUp__joinBtn-extend {
    width: 100vw;
    height: 80px;
    position: absolute;
    bottom: 0px;
    font-family: neoB;
    font-size: 30px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #619fd0;
  }

  #userInfo__errorView {
    font-family: neoB;
    font-size: 17px;
    color: #f45757;
  }
}

@media all and (max-width: 768px) {
  #signUp__ment {
    font-family: neoB;
    font-size: 20px;
    color: #8b8b8b;
    margin: 0px;
    position: absolute;
    top: 2%;
    font-weight: normal;
  }

  #signUp__userInfo {
    width: 271px;
    height: 441px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 7%;
  }

  .userInfo__contain {
    width: 271px;
    height: 66px;
    margin-bottom: 15px;
  }

  .userInfo__title-basic {
    font-family: neoL;
    font-size: 13px;
    color: #5b5b5b;
    margin-bottom: 5px;
  }

  .userInfo__title-extend {
    font-family: neoL;
    font-size: 13px;
    color: #619fd0;
    margin-bottom: 5px;
  }

  .userInfo__input-basic {
    width: 265px;
    height: 30px;
    font-size: 15px;
    border: none;
    border-bottom: thin solid #575757;
  }

  .userInfo__input-extend {
    width: 265px;
    height: 30px;
    font-size: 15px;
    border: none;
    border-bottom: thin solid #619fd0;
  }

  input::-webkit-input-placeholder {
    color: #c0c0c0;
  }

  #signUp__joinBtn-basic {
    width: 100vw;
    height: 50px;
    position: absolute;
    bottom: 0px;
    font-family: neoB;
    font-size: 17px;
    color: white;
    border: none;
    background-color: #c4c4c4;
  }

  #signUp__joinBtn-extend {
    width: 100vw;
    height: 50px;
    position: absolute;
    bottom: 0px;
    font-family: neoB;
    font-size: 17px;
    color: white;
    border: none;
    background-color: #619fd0;
  }

  #userInfo__errorView {
    font-family: neoB;
    font-size: 12px;
    color: #f45757;
    position: absolute;
    bottom: 0.5%;
  }
}
