.mask {
  background-color: rgba(196, 196, 196, 0.42);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s;
}
.mask--init {
  opacity: 0;
}
.modal {
  width: 500px;
  background-color: #ffffff;
  border-radius: 14px;
  padding: 20px;
  transition: transform 0.5s;
}
.modal--init {
  transform: translateY(30px);
}
.modal__close-btn {
  background-color: #ffda8e;
  border: none;
  border-radius: 8px;
  width: 63px;
  height: 42px;
}
