.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather__info {
  margin: 0;
  margin-bottom: 30px;
  font-family: neoEB;
  font-size: 20px;
  font-weight: normal;
  text-shadow: 2px 10px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

.weather__box-container {
  position: relative;
}

.weather__box {
  border-radius: 20px;
  background: rgba(106, 106, 106, 0.44);
  width: 600px;
  height: 170px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.weather__box::-webkit-scrollbar {
  height: 2vw;
}

.weather__box::-webkit-scrollbar-thumb {
  background: rgba(106, 106, 106, 0.44);
  border-radius: 10px;
}

.weather__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  border-radius: 10px;
  margin: 0 20px;
  padding: 10px 30px;
}

.weather__item:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.weather__time {
  font-family: neoUL;
  color: #ffffff;
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}

.weather__icon {
  margin: -10px;
  width: 80px;
  height: 80px;
  filter: drop-shadow(5px 8px 5px rgba(0, 0, 0, 0.25));
}

.weather__temp {
  font-family: neoUL;
  color: #ffffff;
  font-size: 25px;
  margin: 0;
}

.weather__nextbtn {
  cursor: pointer;
  font-size: 40px;
  outline: none;
  border: none;
  background-color: transparent;
  position: absolute;
  right: -20px;
  top: 50%;
  color: #ffffff;
  transform: translateY(-50%);
}

.weather__nextbtn:hover {
  color: #f2c94c;
}

.weather__nextbtn span {
  position: absolute;
  top: 0;
  right: -15px;
  width: 30px;
  height: 30px;
  border-top: 2px solid #2b5779;
  border-right: 2px solid #2b5779;
  transform: translateY(-50%) rotate(45deg);
  animation: next 2s infinite;
  opacity: 0;
}

.weather__nextbtn span:nth-of-type(2) {
  border-top: 2px solid #2b5779;
  border-right: 2px solid #2b5779;
  right: -30px;
  animation-delay: 0.15s;
}

.weather__nextbtn span:nth-of-type(3) {
  border-top: 2px solid #2b5779;
  border-right: 2px solid #2b5779;
  right: -45px;
  animation-delay: 0.3s;
}

@keyframes next {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .weather__info {
    margin-bottom: 3vw;
    font-size: 3vw;
  }

  .weather__nextbtn {
    display: none;
  }

  .weather__box {
    border-radius: 3vw;
    width: 80vw;
    height: 20vw;
    overflow-x: scroll;
  }

  .weather__item {
    margin: 0 2vw;
    padding: 0px 4vw;
  }

  .weather__time {
    margin-top: 1vw;
    font-size: 2vw;
  }

  .weather__icon {
    margin: -2vw;
    width: 10vw;
    height: 10vw;
  }

  .weather__temp {
    font-size: 3vw;
  }
}
