.modal__mask {
  background-color: rgba(196, 196, 196, 0.42);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s;
}
.modal__mask--open {
  opacity: 0;
}
.modal__window {
  text-align: center;
  background-color: #ffffff;
  border-radius: 14px;
  padding: 20px;
  transition: transform 0.5s;
}
.modal__window--open {
  transform: translateY(30px);
}
.modal__contents {
  margin: 20px 30px;
}
.modal__close-btn {
  background-color: #ffda8e;
  border: none;
  border-radius: 8px;
  width: 20%;
  height: 3.5vh;
  margin: 0 10px;
  margin-bottom: 10px;
  min-width: 80px;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s;
}
.modal__close-btn:hover {
  background-color: #619fd0;
  color: white;
}
.modal__close-btn--disabled:hover {
  background-color: #ffda8e;
  color: rgba(16, 16, 16, 0.3);
  cursor: not-allowed;
}
.modal__info {
  color: gray;
  font-size: 10px;
}
